@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Tagesschrift&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 14px;
}


::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
     background: #ccc;
}
::-webkit-scrollbar-track{
     background: transparent;
}
.top-strip {
    background: rgb(0, 4, 255);
}

.headerWrapper .top-strip {
    padding: 8px 0px;
}

.headerWrapper .top-strip p {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.headerWrapper .header {
    width: 100%;
    height: auto;
    padding: 15px 0px;
}

.logoWrapper img {
    width: 45%;
}

.headerWrapper .header .part2 .countryDrop {
    width: 150px;
    height: auto;
    min-width: 170px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: left;
    padding: 2px 0px;
    border-radius: 5px;
    border: 1px solid rgb(209, 204, 204);
}

.headerWrapper .header .part2 .countryDrop .label {
    font-size: 15px !important;
    text-transform: capitalize !important;
    color: rgba(65, 62, 62, 0.7) !important;
    /* line-height: 16px; */
}

.headerWrapper .header .part2 .countryDrop .name {
    font-size: 18px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 700;
    /* line-height: 16px; */
}

.headerSearch {
    width: 60%;
    height: 56px;
    padding: 10px;
    background: #f3f4f7;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.headerSearch input {
    background: transparent !important;
    outline: none !important;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 40px;
    border: 0px;
    padding: 0px 20px;
}

.headerSearch button {
    position: absolute;
    top: 8px;
    right: 15px;
    border: none;
    z-index: 100;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    color: #000;
}

.headerSearch button svg {
    font-size: 22px;
}

header .part3 {
    gap: 20px;
}

header .part3 .circle {
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
}

header .part3 .circle svg {
    font-size: 22px;
}

.cartTab button {
    background: #fff1ee;
}

.cartTab button svg {
    color: #ea2b0f;
}

.cartTab .price {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.cartTab .count {
    position: absolute;
    top: -8px;
    right: -4px;
    background: #ea2b0f;
    border-radius: 50%;
    color: #f3f4f7;
    width: 20px;
    height: 20px;
}

nav .allCatTab {
    background: #2bbef9;
    padding: 8px 20px;
    border-radius: 30px;
    border: none;
}

nav .allCatTab * {
    color: #fff;
}

nav .allCatTab:hover {
    background: #2bbef9;
}

nav .allCatTab .text {
    font-weight: 600;
}

nav .allCatTab .icon1 svg {
    font-size: 22px;
}

nav .allCatTab .icon1 svg {
    font-size: 22px;
}

.locationModal .MuiPaper-elevation {
    padding: 25px;
position: relative;
}

.locationModal .countryList {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    padding: 10px;
}

.locationModal .countryList li {
    width: 100%;
    list-style: none;
}

.locationModal .countryList li button {
    width: 100%;
    text-transform: capitalize;
    color: #000;
    justify-content: flex-start !important;
    border: none;
    
}

.locationModal .close_{
position: absolute;
top: 10px;
right: 10px;
color: #000;
min-width: 40px;
width: 40px;
height: 40px;
border-radius: 50%;
}
.locationModal .close_ svg{
    font-size: 25px;
}
nav .navPart2 ul {
    margin-bottom: 0px;
}

nav .navPart2 ul li a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 22px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
}

nav .navPart2 ul li a:hover {
    background: #f0faff;
    color: #2bbef9;
}